@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: #fff;
}

h1 {
  margin: 0 0 1rem 0;
  font-weight: 900;
  font-size: 4rem;
  color: white;
}

p {
  font-weight: 100;
  color: blue;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  padding: 4rem;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .hero {
    background-position: -100px 0;
  }
}

button{
  font-size: 24px;
  text-align: center;
  margin-left: 55px;
}
